body{
    font-family: Arial;
    background-color: #e4fffc;
}

.container{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


h1, h2{
    font-family: 'Press Start 2P', cursive;
    color: rgb(244, 244, 244);
    text-shadow: 3px 1px 0 #000;
    text-align: center;
    border: 2px solid black;
    background-image:
        linear-gradient(45deg, #87CEEB 25%, transparent 25%),  
        linear-gradient(-45deg, #87CEEB 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #87CEEB 75%),
        linear-gradient(-45deg, transparent 75%, #87CEEB 75%);
    background-size: 40px 40px;
    background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
}

h2{
    margin-top: 0px;
    padding: 5px;
}

#log{ 
    border: 1px solid #cecece; 
    background-color: rgb(244, 244, 244);
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px; 
    height: 400px; 
    overflow-y: scroll; 
    position: relative; 
}

#log img {
    position: absolute;
    bottom: 15px; 
    right: 20px; 
    width: 30vw; 
    min-width: 250px;
    max-width: 400px;
    height: auto;
}